<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"metadata":{"name":"Contact","categories":["contact"],"patternName":"a8c/centered-heading-with-contact-form"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained","contentSize":"480px"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"align":"wide","className":"is-contact-section-name","style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"typography":{"textAlign":"center"}}} -->
<h2 class="wp-block-heading has-text-align-center alignwide is-contact-section-name" style="margin-top:0;margin-bottom:0">Contact us</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"className":"is-contact-description","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center is-contact-description">Welcome to a world of limitless possibilities, where the journey is as exhilarating and where every moment is an opportunity.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:jetpack/contact-form {"subject":"Contact form submission","jetpackCRM":true,"salesforceData":{"organizationId":"","sendToSalesforce":false},"mailpoet":{"listId":null,"listName":null,"enabledForForm":false},"className":"is-style-default"} -->
<div class="wp-block-jetpack-contact-form is-style-default"><!-- wp:jetpack/field-name {"id":""} -->
<div><!-- wp:jetpack/label {"label":"Name","requiredText":"(required)"} /-->

<!-- wp:jetpack/input {"style":{"border":{"radius":"5px","style":"solid"}}} /--></div>
<!-- /wp:jetpack/field-name -->

<!-- wp:jetpack/field-email {"id":"","required":true} -->
<div><!-- wp:jetpack/label {"label":"Email","requiredText":"(required)"} /-->

<!-- wp:jetpack/input {"style":{"border":{"radius":"5px","style":"solid"}}} /--></div>
<!-- /wp:jetpack/field-email -->

<!-- wp:jetpack/field-textarea {"id":""} -->
<div><!-- wp:jetpack/label {"label":"Message","requiredText":"(required)"} /-->

<!-- wp:jetpack/input {"type":"textarea","style":{"border":{"radius":"5px","style":"solid"}}} /--></div>
<!-- /wp:jetpack/field-textarea -->

<!-- wp:jetpack/button {"element":"button","text":"Send","width":"","align":"left","lock":{"remove":true}} /--></div>
<!-- /wp:jetpack/contact-form --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->